@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  position: relative;
  width: 100vw;
  padding-top: 40px;
  color: #ffffff;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background: black; /* 将背景颜色设置为黑色 */
  background-image: radial-gradient(
      103.72% 46.58% at 50% 0,
      hsla(0, 0%, 100%, 0.09) 0,
      hsla(0, 0%, 100%, 0) 100%
    ),
    url("../images/beams-template-header.png");
  /* 设置渐变背景 */
  background-size: cover; /* 背景大小设置为覆盖整个元素 */
}
